.AddTodoForm {

  &__input {
    height: 40px;
    padding: 0 10px;
    margin-right: 10px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    line-height: 40px;

    vertical-align: top;

    &:focus {
      outline: none;
      border-color: #ff0000;
      box-shadow: 0 0 5px #ff0000;
    }
  }

  &__button {
    height: 42px;

    padding: 0 20px;

    background: linear-gradient(145deg, rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 1));
    
    border: 1px solid #ff0000;
    border-radius: 3px;

    vertical-align: top;

    transition: all 1s;

    &:hover {
      background: linear-gradient(145deg, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.4));

      transition: background 1s;
    }
  }
}
