.TodoItem {
  position: relative;

  &:hover {
    .TodoItem__mod--edit,
    .TodoItem__mod--sort,
    .TodoItem__mod--promote,
    .TodoItem__mod--delete {
      display: inline-block;
    }
  }

  &--incomplete {
    padding: 10px 0;

    @extend .TodoItem;
    font-size: 18px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    &:first-child {
      padding-bottom: 20px;

      font-size: 48px;

      .TodoItem__checkbox {
        position: relative;
        top: -10px;
      }
    }
  }

  &--completed {
    @extend .TodoItem;

    padding: 5px 0;
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
  }

  &__checkbox {
    margin-right: 10px;
  }

  &__text {
    line-height: 1em;

    border: none;

    &:focus {
      outline: none;
    }

    &--incomplete {
      @extend .TodoItem__text;
    }
    &--completed {
      @extend .TodoItem__text;
    }
  }

  &__timer {
    display: inline-block;

    padding: 5px 20px;
    margin-left: 10px;

    background-color: rgba(0, 0, 0, 0.05);

    border-radius: 5px;
  }

  &__mod {

    &--edit,
    &--sort,
    &--promote,
    &--delete {
      display: none;
      font-size: 14px;

      cursor: pointer;
    }
  }

  &__edit-form {
    position: absolute;
    bottom: -50px;
    left: 0;

    z-index: 2;

    width: 300px;
    height: 50px;

    padding: 10px;

    line-height: 0;

    background-color: #ffffff;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  &__edit-text {
    position: relative;

    width: 100%;
    height: 30px;

    padding: 0 5px;

    font-size: 14px;
  }
}
